html {
    background: #0C3770;
    padding: 1em;
    scroll-behavior: smooth;
}

nav {
    background: #0C3770;
}

.breadcrumb {
    margin-bottom: 0;
    padding-bottom: 16px;
}

.breadText {
    text-decoration: none;
    color: #7C4F4D;
    font-weight: bolder;
}

a.breadText:hover {
    color: #7C4F4D;
}

.nav-link {
    color: #7C4F4D !important;
    font-family: monospace;
    font-size: 2em !important;
    font-weight: bolder;
}

a.navbar-brand:hover {
    color: #7C4F4D;
}

nav.nav-link:hover {
    color: #7C4F4D;
}

.example::-webkit-scrollbar {
    display: none;
}

.container {
    display: flex;
    max-width: 100%;
    margin: 0;
    justify-content: space-around;
    background-color: #0C3770;
}

.card {
    /* background-color: #7C4F4D; */
    background-color: #7C4F4D;
    border-style: hidden;
    padding: 0.5rem;
    margin: 0.25rem;
    box-shadow: 0px 8px 8px 0px #000;
}

.MenuSection {
    background-color: #0C3770;
}

.MenuSection>p.heading {
    color: #7C4F4D;
    text-align: center;
    font-size: 2em;
    font-family: cursive;
    font-weight: 600;
}

/* Dropdown Button */
.MenuDWBtn {
    background-color: #0C3770;
    color: #7C4F4D;
    font-size: 16px;
    border: none;
    font-weight: bolder;
}

/* The container <div> - needed to position the dropdown content */
.MenuDropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #7C4F4D;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #0C3770;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #7c5553f3;
}

/* Show the dropdown menu on hover */
.MenuDropdown:hover .dropdown-content {
    display: block;
}